.PlayerTable{
    margin-bottom:30px;
}

.PlayerTable th{
    text-align: center !important;   
    background-color: #607d8b !important;
    color:#fff;
}

.PlayerTable td:nth-child(2){
    text-align: left !important;
    white-space: nowrap;
    vertical-align: middle;
   
}
.PlayerTable td:nth-child(1){
    text-align: center !important;
    white-space: nowrap;
    background-color: #9eb1bb !important;
    color:#fff;
    font-size: 10pt;
}

.PlayerTable td div{
    text-align: left !important;
    width: 55px;
    height: 55px;
    display: inline-block;
    background-size: 100%;
    background-Repeat:no-repeat;
    border: 1px solid #000;
}

green{
    background-color: green;
}